{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Learn More About Me.
                </h1>
            </div> <!-- end s-content__header -->

            <div class="col-full s-content__main">


                <div class="row block-1-2 block-tab-full">
                    <div class="col-block">
                        <h3 class="quarter-top-margin">Who I am!</h3>
                        <p>I'm Ratul.Done a few things and was developing web apps everyday</p>
                    </div>
                    <div class="col-block">
                        <h3 class="quarter-top-margin">My Mission.</h3>
                        <p>To land my dream job in Google</p>
                    </div>

                    <div class="col-block">
                        <h3 class="quarter-top-margin">My Vision.</h3>
                        <p>Clear and catchy</p>
                    </div>

                    <div class="col-block">
                        <h3 class="quarter-top-margin">Our Values.</h3>
                        <p>Provide value to the world by teaching and helping people.</p>
                    </div>

                </div>


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->

{% endblock %}
    <!-- s-extra
    ================================================== -->
