{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
Adiat's Blog
{% endblock %}

{% block content %}

        <div class="pageheader-content row">
            <div class="col-full">

                <div class="featured">

                    <div class="featured__column featured__column--big">
                        <div class="entry" style="background-image:url({% static 'images/thumbs/featured/featured-guitarman.jpg' %});">
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{post1.category}}</a></span>

                                <h1><a href="#0" title="">What Your Music Preference Says About You and Your Personality.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">{{post1.author}}</a></li>
                                        <li>{{post1.pub_date}}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->

                    <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url({% static 'images/thumbs/featured/featured-watch.jpg' %});">
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Management</a></span>

                                <h1><a href="#0" title="">The Technique Really Works.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">Adiat</a></li>
                                        <li>December 27, 2019</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                          
                        </div> <!-- end entry -->

                        <div class="entry" style="background-image:url({% static 'images/thumbs/featured/featured-beetle.jpg' %});">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">LifeStyle</a></span>

                                <h1><a href="#0" title="">Throwback To The Good Old Days.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">SHAFIN</a></li>
                                        <li>December 31, 2019</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__small -->
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->

<!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">
        
        <div class="row masonry-wrap">
            <div class="masonry">
                <article class="masonry__brick entry format-link" data-aos="fade-up">

                    <div class="entry__thumb">
                        <div class="link-wrap">
                            <p>The Only Resource You Will Need To Start a Blog Using Adiat's port.</p>

                        </div>
                    </div>
                </article>

                <div class="grid-sizer"></div>
                {% for post in posts %}
                    {% if post.pub_date %}
                    <article class="masonry__brick entry format-standard" data-aos="fade-up">
                            {% if post.image %}
                                <div class="entry__thumb">
                                    <a href="{% url 'blog' pk=post.pk %}" class="entry__thumb-link">
                                        <img src="{{ post.image.url }}"
                                                srcset="{{ post.image.url }} 1x, {{ post.image.url }} 2x" alt="">
                                    </a>
                                </div>
                            {% else %}
                                <div class="entry__thumb">
                                    <a href="{% url 'blog' pk=post.pk %}" class="entry__thumb-link">
                                        <img src="{% static 'images/no_img.png' %}"
                                                srcset="{% static 'images/no_img.png' %} 1x, {% static 'images/no_img.png' %} 2x" alt=""></a>
                                </div>

                            {% endif %}
                        <div class="entry__text">
                            <div class="entry__header">

                                <div class="entry__date">
                                    <a href="#">{{post.pub_date}}</a>
                                </div>
                                <h1 class="entry__title"><a href="{% url 'blog' pk=post.pk %}">{{ post.title }}</a></h1>

                            </div>
                            <div class="entry__excerpt">
                                <p>
                                  {{post.text}}
                                </p>
                            </div>
                            <div class="entry__meta">
                                <span class="entry__meta-links">
                                    <a href="">Design</a>
                                    <a href="">Photography</a>
                                    {% if post.last_edited %}
                                    <p>Last Updated: {{ post.last_edited }}</p>
                                    {% endif %}
                                    <p>Author: {{post.author}}</p>
                                </span>
                            </div>
                        </div>
                        {% if post.comments.count <= 1 %}
                            <p>{{post.comments.count}} comment</p>
                        {% else %}
                            <p>{{post.comments.count}} comments</p>
                        {% endif %}
                    </article> <!-- end article -->
                    {% endif %}
                {% endfor %}


                <article class="masonry__brick entry format-quote" data-aos="fade-up">

                    <div class="entry__thumb">
                        <blockquote>
                                <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>

                                <cite>Adiat Hasan</cite>
                        </blockquote>
                    </div>

                </article> <!-- end article -->

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

    </section> <!-- s-content -->

{% endblock %}
