{% extends 'blog/base2.html' %}
{% block login %}

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title"></h3>
                    <div class="d-flex justify-content-center form_container">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                {{form.as_p}}
                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <input class="btn login_btn" type="submit" value="submit">
                                </div>
						    </div>
                        </form>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}