<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs</title>
</head>
<body>
    {% for post in posts %}
    <h1>Hey this is my blog {{ post.id }}</h1>
    <h3>title:{{ post.title }}</h3>
    <hr>
    <p>{{post.text}}</p>
    <h4>Published on: {{post.pub_date}}</h4>
    <h4>Written by: {{post.author}}</h4>
    <hr>
    {% endfor %}
</body>
</html>